{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
 <li class="news" id="news_{%=item.News_Uni_Code%}">
    <table width="100%"   style ="border-collapse: collapse; ">
        <tr>
            <td valign="top">
                <a class="news-title" href="/home/detail/{%=item.News_Uni_Code%}">
                    {%=item.Title_Main%}
                    {%
                        if(item.News_Author!=''){%}
                            <span class="author">by {%=item.News_Author%}</span>
                    {% } %}
                </a>
                
            </td>
            {%
            if(item.Pic_URL!=''){%}
             <td width="140">
                <div class="news-img"><a href="/home/detail"><img src="{%=item.Pic_URL%}" /></a></div>
            </td>
           {% } %}
        </tr>
        <tr>
            <td colspan="2">
                <div class="mTop15">
                   <div class="left">
                        <span>{%=item.Real_Source_Name%}</span>
                        <span class="mLeft10">{%=item.Pub_Time.toDate("MM-dd hh:mm")%}</span>
                    </div>
                    <div class="right">
                        <span class="iconfont" title="点赞数"><img class="icon" src="/modules/images/like_min.png" /></span>
                        <span class="mRight15">{%=item.Praise_Count%}</span>
                        <span class="iconfont reply-count" title="讨论数"><img class="icon" src="/modules/images/reply_min.png" /></span>
                        <span>{%=item.Comment_Count%}</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </td>
        </tr>
    </table>
</li>
{% } %}
