{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
 <li class="news">
    <table width="100%"   style ="border-collapse: collapse; ">
        <tr>
            <td valign="top">
                <a class="news-title" href="/home/detail">美战斗机坠落纽约哈德逊河 飞行员丧生
                    <span class="author">by 牧歌</span>
                </a>
                
            </td>
            {%
            if(i%2==0){%}
             <td width="140">
                <div class="news-img"><a href="/home/detail"><img src="/modules/images/news.jpg" /></a></div>
            </td>
           {% } %}
        </tr>
        <tr>
            <td colspan="2">
                <div class="mTop15">
                   <div class="left">
                        <span>天蚕土豆</span>
                        <span class="mLeft10">2015.12.1</span>
                    </div>
                    <div class="right">
                        <span class="iconfont" title="讨论数">&#xe610;</span>
                        <span class="mRight15">13</span>
                        <span class="iconfont" title="点赞数">&#xe648;</span>
                        <span>12</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </td>
        </tr>
    </table>
</li>
{% } %}
