{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<li class="reply-item">
    <div class="reply-author">
        <div class="reply-img left">
                <img src="{%=item.CreateUser==null?'/modules/images/me.png':item.CreateUser.Avatar==''?'/modules/images/me.png':item.CreateUser.Avatar%}" />
        </div>
        <div class="reply-detail left">
            <div class="reply-name">{%=item.User_Name%}</div>
            <div class="reply-time">{%=item.Create_Date.toDate("MM-dd hh:mm")%}</div>
        </div>
        <div class="praise-add right hand" data-id="{%=item.ID%}" data-status="{%=item.Is_Praise%}">
            <span class="iconfont" title="点赞数"><img style="max-width:19px;max-height:19px; margin-top:2px;" class="icon" src="{%=item.Is_Praise>0?'/modules/images/like_min_color.png':'/modules/images/like_min.png'%}" /></span>
            <span class="mLeft5 praise-count">{%=item.Praise_Count%}</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="reply-content">{%=item.Content%}</div>
</li>
{% } %}
