{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="">
    <!--<td class="tLeft">{%=item.News_Uni_Code%}</td>-->
    <td><a href="Edit/{%=item.News_Uni_Code%}">{%=item.Title_Main%}</a></td>
    <td>{%=item.NewsType?(item.NewsType.News_Type_Name1 +"-"+item.NewsType.News_Type_Name2):"--"%}</td>
    <td class="center">{%=item.News_Author%}</td>
    <td>{%=item.Real_Source_Name%}</td>
    <td class="center">{%=item.Impt_Par==1?"重要":"不重要"%}</td>
    <td class="center {%=item.Is_Issue==1||'red'%}">{%=item.Is_Issue==1?"已发布":"未发布"%}</td>
    <td class="center">{%=item.View_Count%}</td>
    <td class="center">{%=item.Collect_Count%}</td>
    <td class="center">{%=item.Comment_Count%}</td>
    <td class="center">{%=item.Pub_Time.toDate("yyyy-MM-dd")=="3939-01-01"?"--":item.Pub_Time.toDate("yyyy-MM-dd hh:mm")%}</td>  
    <td class="center dropdown"  data-publish="{%=item.Is_Issue%}" data-id="{%=item.News_Uni_Code%}" >
        <span class="ico-dropdown"></span>
    </td>
</tr>
{% } %}
