@{
    ViewBag.Title = "新建新闻";
}
@section css{
    <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/umeditor/ueditor.config.js"></script>
    <script src="/modules/plug/umeditor/ueditor.all.js"></script>
    <script type="text/javascript">
        seajs.use(["manage/scripts/news/detail"], function (obj) {
            var um = UE.getEditor('Html_Txt');

            obj.initCreate(um);
        });
    </script>
}
<div class="header-box">
    <span class="header-title left" >新建新闻</span>
     <a class="back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">
           <i class="iconfont">&#xe62d;</i> 返回
    </a>
</div>

<div class="content-body mTop20">
        <ul class="table-add">
        <li>
            <span class="column-title">分类：</span> 
            <span id="ParentType"></span>
            <span class="mLeft10" id="NewsType"></span>
        </li>
        <li>
            <span class="column-title">正标题：</span>
            <span><input type="text" maxlength="50" id="Title_Main" style="width:320px;" data-empty="必填" class="input verify" /></span> 
        </li>
       <li>
            <span class="column-title">副标题：</span>
            <span><input type="text" maxlength="50" id="Title_Sub" style="width:320px;"  class="input" /></span> 
        </li>
        <li>
            <span class="column-title">引标题 ：</span>
            <span><input type="text" maxlength="50" id="Title_App" style="width:320px;"  class="input" /></span> 
        </li>
        <li>
            <span class="column-title">作者：</span>
            <span><input type="text" maxlength="200" id="News_Author"  class="input" /></span>
        </li>
        <li>
            <span class="column-title">来源：</span> 
            <span><input type="text" maxlength="13" id="Real_Source_Name"  class="input" /></span>
        </li>
        <li class="Impt_Par">
            <span class="column-title left">重要性：</span> 
            <div class="left radiobox hand"> <span class="iconfont ico-radiobox" data-value="4"><span></span></span> 非常重要 </div>
            <div class="left radiobox hand mLeft10"> <span class="iconfont ico-radiobox" data-value="3"><span></span></span> 重要 </div>
            <div class="left radiobox hand mLeft10"> <span class="iconfont ico-radiobox hover" data-value="2"><span></span></span> 一般 </div>
            <div class="left radiobox hand mLeft10"> <span class="iconfont ico-radiobox" data-value="1"><span></span></span> 不重要 </div>
            <div class="clear"></div>
        </li>
        <li class="Nega_Posi_Par">
            <span class="column-title left">正负面性：</span> 
            <div class="left radiobox hand "> <span class="iconfont ico-radiobox hover" data-value="2"><span></span></span> 正面 </div>
            <div class="left radiobox hand mLeft10"> <span class="iconfont ico-radiobox" data-value="3"><span></span></span> 中性 </div>
            <div class="left radiobox hand mLeft10"> <span class="iconfont ico-radiobox " data-value="1"><span></span></span> 负面 </div>
            <div class="clear"></div>
        </li>
        <li>
            <span class="column-title">图片 ：</span>
            <span id="Pic_URL"></span> 
        </li>
        <li>
            <span class="column-title">摘要：</span> 
            <span><textarea id="News_Sum"></textarea></span>
        </li>
        <li>
            <span class="column-title">详情：</span>
            <span><textarea id="Html_Txt" style="width:800px;"></textarea></span>
        </li>
    </ul>
    <img class="product-img" id="productImg" alt="" src="/modules/images/default.png" />
    <input type="hidden" id="txt_Pic_URL" />
    <div class="mTop20">
        <div class="btn" id="btn-saveNews">保存</div>
        <a class="btn mLeft10" href="@(Url.RequestContext.HttpContext.Request.UrlReferrer == null ? "/Customer/Customers" : "javascript:if(history.length>1){ history.go(-1);} else{ location.href='/Customer/MyCustomer'}")">
            返回
        </a>
    </div>

</div>
