@{
    ViewBag.Title = "新闻列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["manage/scripts/news/index"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left" >新闻列表</span>
    <a href="Create" class="btn-add right" id="addUser">新建新闻</a>
</div>

<div class="content-body mTop20">
    <div class="search-items mTop10">
        <div id="ParentType" class="left"></div>
        <div id="NewsType" class="left mLeft20"></div>
        <div class="right searth-module" data-text="输入姓名/手机/Email..." data-width="200"> </div>
    </div>
    <table class="table-list">
        <tr class="tr-header">
            <td class="tLeft">新闻编码</td>
            <td class="">标题</td>
            <td class="width150">新闻分类</td>
            <td class="tLeft">作者</td>
            <td class="width150">来源</td>
            <td>重要性</td>
            <td>是否发布</td>
            <td class="width150">发布时间</td>
            
            <td class="width80">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
