@{
    ViewBag.Title = "首页";
    Layout = "/Areas/Manage/Views/Shared/_LayoutHome.cshtml";
}
<style type="text/css">
    .main-content {
    margin:0;
    }
    .home {
    margin:200px auto;
    width:300px;
    text-align:center;
    font-size:42px;
    color:#888;
    }
</style>
<div class="home">欢迎进入后台!</div>

