@{
    ViewBag.Title = "赢 VAR详情";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
    <link href="/modules/css/home/detail.css" rel="stylesheet" />

}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/home/detail"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="detail-header">
    <div class="header-newsimg"><img src="/modules/images/news.jpg" /></div>
    <div class="header-back" onclick="if(history.length>1){ history.go(-1);} else{}"><span class="iconfont">&#xe654;</span></div>
    <div class="header-content">
        <div class="source">凤凰网</div>
        <div class="title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
    </div>
</div>

<div class="detail-content">
    <div class="news-author">
        <div class="author-img left">
             <img src="/modules/images/news.jpg" />
        </div>
        <div class="author-detail left">
            <div class="author-name">作者</div>
            <div class="author-time">2015-1-1</div>
        </div>
        <div class="author-read right">
            <span class="iconfont">&#xe610;</span>
            <span class="read">11111</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="detail-box">
        <span>中</span><p>国外交部长王毅1日在访问加拿大期间出席新闻发布会，怒斥一名加拿大记者无端指责中国人权问题。
这段视频今天火爆中外社交媒体。记者当时在新闻发布会现场目击了整个过程，其中许多细节值得品味。
中国外长王毅1日在加拿大首都渥太华与加拿大外长迪翁举行了首次中加外长年度会晤后，当地时间当天下午2时30分左右，与迪翁一起在加拿大外交部大楼一楼大厅举行联合新闻发布会。


作者：头条号 / 新华国际
链接：http://toutiao.com/a6291924813377143042/
来源：头条号（今日头条旗下创作平台）
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
        按照会前加方的安排，发布会上媒体可以提4个问题，加拿大和中国媒体各两个，加拿大媒体先提问。
新闻发布会现场大约有100人，包括新华社、人民日报、中央电视台、凤凰卫视、加拿大电视台、加拿大广播公司、加拿大Cpac电视台等十几家媒体，还有中国和加拿大的外交官。
发布会开始后，加拿大外长迪翁首先介绍了他与王毅的会谈情况。随后，一个名叫阿曼达·康诺丽的女记者自称来自加拿大iPolitics新闻网站，向迪翁一口气提了三个问题。
她称：“关于中国如何对待‘人权倡导者’的担忧一直不少，比如对待香港书商和加拿大人凯文·高（Kevin Garratt)，更不用说中国对南海的领土野心对区域稳定产生的影响。基于上述担忧，加拿大为什么寻求与中国建立更紧密的关系？你计划如何通过这种关系来促使中国改善人权和安全状况？你是否（在会谈中）专门提到了凯文·高的案件？”
这名加拿大女记者看上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提问时一直看着自己的手机屏幕，语速非常快。提问完之后，还不时用手机跟人聊事。


作者：头条号 / 新华国际
链接：http://toutiao.com/a6291924813377143042/
来源：头条号（今日头条旗下创作平台）
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。</p>
    </div>
</div>

<div class="detail-reply">
    <div class="reply-header">
        <div class="reply-title">评论</div>
    </div>
    <div class="reply-list">
        <ul>
            <li class="reply-item">
                <div class="reply-author">
                    <div class="reply-img left">
                         <img src="/modules/images/news.jpg" />
                    </div>
                    <div class="reply-detail left">
                        <div class="reply-name">作者</div>
                        <div class="reply-time">2015-1-1</div>
                    </div>
                    <div class="reply-add right">
                        <span class="iconfont">&#xe610;</span>
                        <span class="mLeft5 reply-count">111</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="reply-content">上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提</div>
            </li>
            <li class="reply-item">
                <div class="reply-author">
                    <div class="reply-img left">
                         <img src="/modules/images/news.jpg" />
                    </div>
                    <div class="reply-detail left">
                        <div class="reply-name">作者</div>
                        <div class="reply-time">2015-1-1</div>
                    </div>
                    <div class="reply-add right">
                        <span class="iconfont">&#xe610;</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="reply-content">上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提</div>
            </li>
            <li class="reply-item">
                <div class="reply-author">
                    <div class="reply-img left">
                         <img src="/modules/images/news.jpg" />
                    </div>
                    <div class="reply-detail left">
                        <div class="reply-name">作者</div>
                        <div class="reply-time">2015-1-1</div>
                    </div>
                    <div class="reply-add right">
                        <span class="iconfont">&#xe610;</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="reply-content">上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提</div>
            </li>
        </ul>
    </div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li id="btn-add-reply"> 
            <div class="iconfont" >&#xe600;</div>
            写评论
        </li>
        <li>
            <div class="iconfont">&#xe63b;</div>
            收藏
        </li>
        <li>
            <div class="iconfont">&#xe633;</div>
            <span>12</span>赞
        </li>
        <li>
            <div class="iconfont" >&#xe601;</div>
            <span>12</span>评论
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="overlay">
    <div class="detail-reply-box">
        <div class="detail-reply-msg" contenteditable="true" placeholder="发表评论">
            <div class="reply-msg">发表评论</div>
        </div>
         <div class="detail-reply-btn">
             发送
        </div>
    </div>
</div>
