@{
    ViewBag.Title = "赢 VAR";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}

@section scripts{
    <script src="/modules/plug/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (obj) {
            obj.init('@ViewBag.ID');
        });
    </script>
}
<div class="nav">
    <ul class="nav-list"></ul>
    <div class="clear"></div>
</div>

<div class="search">
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <span class="search-name">搜索</span>
    </div>
</div>

<div class="content">
    <ul></ul>
    <div class="clear"></div>
    <div class="data-loading hide"></div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li class="active item" data-id="16"> 
            <div class="iconfont">
                <img class="icon" data-icon="information" src="/modules/images/information_color.png" />
            </div>
            首席咨询
        </li>
        <li class="item" data-id="6">
            <div class="iconfont">
                <img class="icon" data-icon="link" src="/modules/images/link.png" />
            </div>
            产业链
        </li>
        <li class="item" data-id="17">
            <div class="iconfont">
                <img class="icon" data-icon="show" src="/modules/images/show.png" />
            </div>
            极客秀
        </li>
        <li onclick="location.href='/user/index'">
            <div class="iconfont">
                <img class="icon" data-icon="me" src="/modules/images/me.png" />
            </div>
            我的
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="overlay">
    <div class="overlay-search">
        <span class="iconfont">&#xe605;</span>
        <input type="text" id="keywords" placeholder="请输入关键字..." />
    </div>
    <div class="overlay-btn" id="btn-search">搜索</div>
</div>

<div class="overlay-keywords">
    <div class="overlay-search">
        <span class="iconfont">&#xe605;</span>
        <input type="text" readonly="true" id="keywords-show" />
    </div>
    <div class="overlay-btn" id="btn-cancel">取消</div>
</div>
