@{
    ViewBag.Title = "赢 VAR";
    var Passport = (WinWarEntity.Passport)ViewBag.Passport;
}
@section css{
    <link href="/modules/plug/swiper/css/swiper.min.css" rel="stylesheet" />
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}

@section scripts{
    <script src="/modules/plug/swiper/swiper.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (obj) {
            obj.init('@ViewBag.ID','@Passport.UserID');
        });
    </script>
}
<div class="nav">
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
    </div>
     <div class="passport-icon"><img class="icon" data-icon="information" src="/modules/images/me_centre.png" /></div>
</div>
<div class="search">
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <span class="search-name">搜索</span>
    </div>
</div>

<div class="news-list">
  <div class="data-load">
      <div class="left">
        <img style="width:30px;height:30px;" src="/modules/images/ico-loading.gif" />
      </div>
      <div class="left mLeft10" style="color:#666;font-size:14px;line-height:30px;">加载最新</div>
      <div class="clear"></div>
  </div>

 <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content">
                    <ul></ul>
                    <div class="clear"></div>
                    <div class="data-loading hide"></div>
                   <div class="load-more hide">已经是最后一条</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li >
            <div class="active item" data-id="6">
                <div class="iconfont">
                    <img class="icon" data-icon="information" src="/modules/images/information_color.png" />
                </div>
                首页
            </div>
        </li>
        <li>
            <div class="item" data-id="16">
                <div class="iconfont">
                    <img class="icon" data-icon="link" src="/modules/images/link.png" />
                </div>
                生态
            </div>
        </li>
        <li>
            <div class="item" data-id="17">
                <div class="iconfont">
                    <img class="icon" data-icon="show" src="/modules/images/show.png" />
                </div>
                极客
            </div>
        </li>
        <li>
            <div class="item" data-id="18">
                <div class="iconfont">
                    <img style="max-width:32px;max-height:32px;" class="icon" data-icon="send" src="/modules/images/send.png" />
                </div>
                发布
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="overlay">
    <div class="overlay-search">
        <span class="iconfont">&#xe605;</span>
        <input type="text" id="keywords" placeholder="请输入关键字..." />
    </div>
    <div class="overlay-btn" id="btn-search">搜索</div>
</div>

<div class="overlay-keywords">
    <div class="overlay-search">
        <span class="iconfont">&#xe605;</span>
        <input type="text" readonly="true" id="keywords-show" />
    </div>
    <div class="overlay-btn" id="btn-cancel">取消</div>
</div>

@{
    if(Passport.UserID!=0)
    {
        <div class="passport-box">
            <div class="passport-content">
                <div class="passport-avatar "><img src="@Passport.Avatar" /></div>
                <div class="passport-name mTop10">@Passport.Name</div>
                <div class="mTop80"><a href="/User/Index" style="display:block;">我的收藏</a></div>
                <div class="mTop30"><a href="/User/Logout" style="display:block;">退出</a></div>
            </div>
        </div>
    }
}
