@{
    ViewBag.Title = "赢 VAR";
    var NewsTypes = (List<WinWarEntity.NewsTypeEntity>)ViewBag.NewsTypes;
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}

@section scripts{
    <script src="/modules/plug/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="nav">
    <ul class="nav-list">
       @* <li><div class="nav-item active">头条</div>
            <span class="select inline-block"></span>
        </li>
        <li><div class="nav-item">专题</div>
            <span class="select"></span>
        </li>
        <li><div class="nav-item">研报</div>
            <span class="select"></span>
        </li>*@
       @* @{
            for (var i = 0; i < NewsTypes.Count;i++ )
            {
                var type = NewsTypes[i];
                <li><div class="nav-item active">@type.News_Type_Name2</div>
                @{
                    if(i==0){
                    <span class="select inline-block"></span>
                    }
                    else{
                      <span class="inline-block"></span>
                    }
                }
                </li>
            }
          }*@
    </ul>
    <div class="clear"></div>
</div>

<div class="search">
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <span class="search-name">搜索</span>
    </div>
</div>

<div class="content">
    <ul></ul>
    <div class="clear"></div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li class="active item" data-id="16"> 
            <div class="iconfont" style="color:#4A98E7">&#xe600;</div>
            首席资讯
        </li>
        <li class="item" data-id="6">
            <div class="iconfont">&#xe63b;</div>
            产业链
        </li>
        <li class="item" data-id="17">
            <div class="iconfont">&#xe633;</div>
            极客秀
        </li>
        <li>
            <div class="iconfont" onclick="location.href='/user/index'">&#xe601;</div>
            我的
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="overlay">
    <div class="overlay-search">
        <span class="iconfont">&#xe605;</span>
        <input type="text" id="keywords" placeholder="请输入关键字..." />
    </div>
    <div class="overlay-cancel">搜索</div>
</div>
