@{
    ViewBag.Title = "赢 VAR";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}

@section scripts{
    <script src="/modules/plug/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (obj) {
            obj.bindEvent();
        });
    </script>
}
<div class="nav">
    <ul class="nav-list">
        <li><div class="nav-item active">头条</div></li>
        <li><div class="nav-item">专题</div></li>
        <li><div class="nav-item">研报</div></li>
         <li><div class="nav-item">头条2</div></li>
        <li><div class="nav-item">专题2</div></li>
        <li><div class="nav-item">研报2</div></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="search">
    <span class="iconfont">&#xe605;</span>
    <input type="text" id="keywords" placeholder="搜索" />
</div>

<div class="content">
    <ul>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                     @*   <div class="mTop5 news-brief">活动提到丈夫周杰伦被骂，昆凌微笑表示不理会昆凌
                             周杰伦新浪娱乐讯 据台湾媒体报道，昆凌近日推出宠物书，28日出席签书会，书店涌入许多粉丝
                        </div>*@
                        <div class="news-time">
                            <div class="left">
                                <span>来源:</span>
                                <span class="mRight10">来源</span>
                                <span>作者:</span>
                                <span>天蚕土豆</span>
                            </div>
                            <div class="right">2015.12.1</div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="right">
                            <span class="iconfont" title="浏览数">&#xe633;</span>
                            <span class="mRight15">13</span>
                            <span class="iconfont" title="讨论数">&#xe610;</span>
                            <span class="mRight15">13</span>
                            <span class="iconfont" title="点赞数">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
         <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="news">
            <table width="100%"   style ="border-collapse: collapse; ">
                <tr>
                    <td class="news-img">
                        <div class=""><img src="/modules/images/news.jpg" /></div>
                    </td>
                    <td valign="top" class="news-content">
                        <div class="mTop10 news-title">美战斗机坠落纽约哈德逊河 飞行员丧生</div>
                        <div class="news-time">2015.12.1</div>
                        <div class="clear"></div>

                        <div class="right ">
                            <span class="iconfont">&#xe648;</span>
                            <span>12</span>
                        </div>
                        <div class="right mRight15">
                            <span class="iconfont">&#xe610;</span>
                            <span>13</span>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li class="active"> 
            <div class="iconfont" style="color:#4A98E7">&#xe600;</div>
            首席资讯
        </li>
        <li>
            <div class="iconfont">&#xe63b;</div>
            产业链
        </li>
        <li>
            <div class="iconfont">&#xe633;</div>
            极客秀
        </li>
        <li>
            <div class="iconfont">&#xe601;</div>
            我的
        </li>
    </ul>
    <div class="clear"></div>
</div>
