
.detail-header {
    width:100%;
    position:relative;
    min-height:180px;
    /*background-color:#DBB7F4;*/
    background-color:#3D9EE1;
}
.header-back {
    position:fixed;
    top:0px;
    left:0px;
    cursor:pointer;
    width:100%;
    height:50px;
    line-height:50px;
}
.header-back .icon {
    /*max-width:22px;
    max-height:22px;*/
    margin-left:10px;
    font-size:22px;
    color:#fff;
}
.header-newsimg {
    width:100%;
}
.header-newsimg img{
    width:100%;
}
.header-content {
    position:absolute;
    bottom:30px;
    left:10px;
}
.header-content div {
    color:#fff;
}

.header-content .source {
    text-align:center;
    border:1px solid #fff;
    border-radius:3px;
    width:80px;
    line-height:20px;
    text-overflow:ellipsis ;
    white-space:nowrap ;
    overflow:hidden ;

}

.header-content .title {
    margin-top:10px;
    font-size:24px;
}

.detail-content {
    padding:20px 10px;
    background-color:#f8fafb;
}
.detail-content .icon {
    max-width:16px;
    max-height:16px;
}

.news-author .author-img img {
    width:36px;
    height:36px;
    border-radius:18px;
}

.news-author .author-detail {
    /*margin-left:10px;*/
}
.news-author .author-name {
    color:#444;
    font-size:16px;
}
.news-author .author-time {
    margin-top:5px;
    color:#bbb;
    font-size:12px;
}
.author-read .read {
    color:#aaa;
    font-size:14px;
}
.detail-box {
    margin-top:20px;
}
.detail-box p{
    line-height:30px;
    font-size:16px;
}
.detail-box span {
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 42px;
}

.detail-replys {
    padding:20px 10px;
    background-color:#f2f4f8;
    margin-bottom:70px;
}
.reply-header {
    margin-top:5px;
    
    border-bottom:1px solid #ddd;
}
.reply-header .reply-title {
    color:#333;
    font-size:14px;
    padding-bottom:5px;
    width:33px;
    text-align:center;
    border-bottom:3px solid #4A98E7;
}
.reply-item {
    margin-top:10px;
    border-bottom:1px solid #eee;
}
.reply-item .icon {
     max-width:16px;
    max-height:16px;
}
.reply-item .reply-author .reply-img img {
    width:30px;
    height:30px;
    border-radius:15px;
}

.reply-item .reply-author .reply-detail {
    margin-left:10px;
}
.reply-item .reply-author .reply-name {
    color:#444;
    font-size:16px;
}
.reply-item .reply-author .reply-time {
    margin-top:2px;
    color:#bbb;
    font-size:12px;
}
.reply-item .reply-author .reply-add {
     margin-top:15px;
}
.reply-item .reply-author .reply-count {
     color:#aaa;
     vertical-align:top;
}
.reply-item .reply-content{
    margin:10px 0;
    color:#333;
    font-size:14px;
    word-wrap:break-word; 
}

.detail-reply-add {
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    z-index:1000;
    line-height:50px;
    height:50px;
    background-color:#fff;
    border-top:1px solid #eee!important;
}
.reply-box-content {
    border:1px solid #eee!important;
    width:200px;
    
}

.overlay {
    top :0px;
    left:0px; 
    position:fixed; 
    z-index :2000; 
    display:none; 
    background: rgba(0, 0, 0, 0.7);
    /*filter:Alpha(Opacity=80); -moz-opacity :0.8;opacity:0.8;*/ 
    width:100%;
    height:100%;
}
.detail-reply-box {
    position:fixed;
    bottom:0px;
    width:100%;
    
    background-color:#fff;
}
.detail-reply-msg {
    margin:0 20px;
    margin-right:50px;
    padding-top:20px;
}
.reply-msg {
    width:100%;
    border:none;
    margin-right:50px;
    line-height:20px;
    height:auto;
    outline:none;
    color:#666;
    font-size:16px;
}
.detail-reply-btn {
     position:fixed;
    bottom:30px;
    right:10px;
    color:#4a98e7;
    font-size:18px;
    cursor:pointer;
}
