.nav {
   background-color:#4a90e2; 
   height:50px;
   width: 100%;
   top:0px;
    position:fixed;
    z-index:1000;
}
.nav .swiper-container {
    width: 100%;
    height: 50px;
    position:fixed;
    top:0px;
    left:30px;
    background-color:#4a90e2;
}
.nav .swiper-container .swiper-slide { 
    
    cursor:pointer;
    text-align:center;
    padding-top:10px;
    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}
.nav .swiper-container .swiper-slide div{
    font-size:16px;
    color:#9EC9E7;
}
 .nav .swiper-slide .circle {
    width:8px;
    height:8px;
    border-radius:4px;
    background-color:#fff;
    display:none;
} 
.nav  .swiper-container  .select .name{
    color:#fff;
}
.nav .swiper-container  .select  .circle{
    display:inline-block;
}

 .passport-icon {
    position: fixed;
    top:12px;
    left:5px;
    z-index:1100;
    cursor:pointer;
}
 .passport-icon .icon{
    max-width:26px;
    max-height:26px;
}

.search {
    margin:60px 10px 10px 10px;
    border-radius:5px;
    border:1px solid #F5F5F5; 
    padding:6px 0;
    background-color:#eee;
    text-align:center;
    cursor:pointer;
}

.search .iconfont {
    font-size:18px;
    color:#9d9d9d;
}
.search .search-name {
    color:#9d9d9d;
    font-size:14px;
    margin-left:5px;
}
.news-list {
    position:relative;
}
.news-list .swiper-container {
        width: 100%;
        position:absolute;
        z-index:500;
        top:0px;
    }
.news-list .swiper-slide {
        background: #fff;

        /* Center slide text vertically */
        /*display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
    }

.content {
    margin:0px 10px 120px 10px;
}

.content .news{
    width:100%;
    margin-top:20px;
    padding-bottom:15px;
    border-bottom:1px solid #F5F5F5;
    display:none;
}
.news .news-img img{
    max-width:140px;
    max-height:100px;
}
.news  div, .news  span {
    color:#c9cdd1;
    font-size:14px;
    vertical-align:top;
}
.news .news-title {
    color:#333!important;
    font-size:16px;
}
.news .news-read {
    color:#9d9d9d!important;
}
.news .author {
    color:#cecece!important;
    font-size:16px;
}
.news .news-brief {
    color:#666!important;
}
.news .news-time {
    width:100%;
    margin-top:10px;
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom:1px solid #eee; 
}
.news .icon {
    max-width:16px;
    max-height:16px;
}
.news .reply-count {
    display:inline-block;
    margin-top:2px;
}

.menu {
    padding:5px 0;
    width:100%;
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:1000;
    background-color:#fff;
    border-top:1px solid #eee;
}
.menu-list  li{
    float:left;
    width:25%;
    font-size:12px;
    color:#666;
    text-align:center;
    
}
.menu-list .item {
    width:80px;
    margin:0 auto;
    cursor:pointer;
}
.menu-list .iconfont {
    height:35px;
    padding-bottom:5px;
}
.menu-list .item2 {
    width:80px;
    margin:0 auto;
    cursor:pointer;
}
.menu-list .icon{
    max-width:26px;
    max-height:26px;

}
.menu-list .active {
    color:#4A98E7!important;
}

.overlay {
    top :0px;
    left:0px; 
    position:fixed; 
    z-index :2000; 
    display:none; 
    background-color:#fff;
    /*filter:Alpha(Opacity=80); -moz-opacity :0.8;opacity:0.8;*/ 
    width:100%;
    height:100%;
}

.overlay-search {
    margin:15px 55px 10px 10px;
    border-radius:5px;
    border:1px solid #F5F5F5; 
    background-color:#eee;
}
.overlay-search .iconfont {
    font-size:16px;
    color:#9d9d9d;
    margin-left:10px;
}
.overlay-search input {
    padding:6px 0;
    width:80%;
    border:none;
    color:#9d9d9d;
    font-size:14px;
    background-color:#eee;
}
.overlay-btn {
    position:absolute;
    top:24px;
    right:10px;
    color:#4a98e7;
    font-size:16px;
    cursor:pointer;
}

.overlay-keywords {
    top :0px;
    left:0px; 
    position:fixed; 
    z-index :2000; 
    display:none; 
    background-color:#fff;
    /*filter:Alpha(Opacity=80); -moz-opacity :0.8;opacity:0.8;*/ 
    width:100%;
    height:100px;
}

.passport-box {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    width:250px;
    height:100%;
    z-index:2000;
    background-color:#569ae9;
    color:#9EC9E7;
}
.passport-content {
    width:180px;
    margin:50px auto;
}
.passport-content .passport-name {
    font-size:24px;
    color:#fff;
    letter-spacing:5px;
}
.passport-content .passport-avatar img{
    width:100px;
    height:100px;
    border-radius:50px;
}
.passport-box div,.passport-box a {
    color:#eeefef;
    text-align:center;
    font-size:20px;
    letter-spacing:2px;
}