@{
    ViewBag.Title = "未坞互动";
    var Passport = (WinWarEntity.Passport)ViewBag.Passport;
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
    <link href="/modules/css/user/index.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/user/index"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="user-box">
    <div class="user-detail">
        <div class="user-avatar">
            <img src="@Passport.Avatar" />
        </div>
        <div class="user-name">@Passport.Name</div>
    </div>
</div>

<div class="my-favarite">
    我的收藏
</div>

<div class="content" style="padding-bottom:70px;">
    <ul><li class="no-data">暂无收藏</li></ul>
    <div class="clear"></div>
    <div class="data-loading hide"></div>
    <div class="load-more hide">加载更多收藏</div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li >
            <div class="item" data-id="6" onclick="location.href='/home/index'">
                <div class="iconfont">
                    <img class="icon" data-icon="information" src="/modules/images/information.png" />
                </div>
                首页
            </div>
        </li>
        <li>
            <div class="item" data-id="6" onclick="location.href='/home/index/16'">
                <div class="iconfont">
                    <img class="icon" data-icon="link" src="/modules/images/link.png" />
                </div>
                生态
            </div>
        </li>
        <li>
            <div class="item" data-id="17" onclick="location.href='/home/index/17'">
                <div class="iconfont">
                    <img class="icon" data-icon="show" src="/modules/images/show.png" />
                </div>
                极客
            </div>
        </li>
        <li>
            <div class="item" data-id="18" onclick="location.href='/home/index/18'">
                <div class="iconfont">
                    <img style="max-width:32px;max-height:32px;" class="icon" data-icon="send" src="/modules/images/send.png" />
                </div>
                发布
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>
