@{
    ViewBag.Title = "未坞互动";
}

@section css{
    <link href="/modules/css/user/login.css" rel="stylesheet" />
}
<div class="login-box">
    <div class="login-form">
        <div class="login-username">
            <input type="text" placeholder="手机号" />
        </div>
        <div class="login-pwd">
            <input type="password" placeholder="密码" />
        </div>
        
    </div>
    <div class="login-btn">
            登录
    </div>
    <div class="register-btn">
            注册
    </div>
    <div class="login-other">
        <div class="other-title">其他方式登录</div>
    </div>
    <div class="login-accounts">
        <a class="account-weixin" href="@ViewBag.AuthorizeUrl" ><img src="/modules/images/weixin_logo.png" /></a>
    </div>
</div>
